/* CSS Styling for the navigation bar and body */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400&display=swap'); /* Import the Kalam font from Google Fonts */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: black;
    font-family: 'Kalam', cursive;

  }

#header {
position: relative;
 display: flex;
 align-items: center;
 font-family: 'kalam',cursive;

 justify-content: space-between;
 padding: 5px 60px;
 background: black;
 box-shadow: 0 5px 15px rgba(255, 215, 0, 0.06);
}
.logo{
  width: 100px;
  position: absolute;
  top: 30px;
  left: 20px;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  float: right;
  display: block;
  color: white;
  
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}



#navbar li a:hover ,
#navbar li a:active{
  color:#FFD700;
  }
  #navbar li a:active::after,
  #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #FFD700;
    position: absolute;
    bottom: -4px;
    left: 20px;

  }
  #mobile {
    display: none;
    align-items: center;
  }
  #close{
    display: none;
  }


.header .logo {
  position: absolute;
  top: 0;
  left: 200px;
  transform: translateY(-50%);
  height: 10px; /* Reduce the height of the logo */
}
.featuref1{
    padding: 40px 80px;
}
.content {
    text-align: left;
    color: aliceblue;
    font-family: 'kalam',cursive;
    background-image: url("images/homepage-banner.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
      .content h1 {
        padding-left: 30px;
        color: #FFD700;
        font-size: 50px;
        margin-bottom: 10px; /* Reduce margin bottom to bring the heading closer to the paragraph */
      }
      .content p {
        padding-left: 30px;
        color: white;
        font-size: 30px;
        margin: 0; /* Remove margin to make the paragraph closer to the heading */
      }

.content button {
    margin-left: 30px;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 18px;
  background-color: #FFD700;
  color: black;
  border: none;
  cursor: pointer;
  font-family: 'Kalam', cursive;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
.content button:hover {
  background: color #555;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#feature .fe-box{
    width: 180px;
    color: white;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(red, green, blue, alpha);
    border: 1px solid #FFD700;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(red, green, blue, alpha);
}

#feature .fe-box h6{
  font-family: 'Kalam', cursive;

    width: 100px;
    margin-bottom: 10px;
}

#feature .fe-box h6{
  font-family: 'Kalam', cursive;

    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: black;
    background-color: #FFD700;
}

#product1{
text-align: center;
padding-left: 20px;
color: white;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
gap: 10px;
}
#product1 .pro{
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #FFD700;
    color: white;
border-radius: 25px;
cursor: pointer;
box-shadow: 10px 10px 20px rgba(255, 215, 0, 0.3);
margin: 15px 0;
transition: 0.2s ease;
position: relative;
}

#product1 .pro:hover{

    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img{
    width: 270px;
    border-radius: 20px;

}

#product1 .pro .des{
text-align: start;
padding: 10px 0;
}

#product1 .pro .des span{
  
    color: antiquewhite;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #888;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #b8ffc7;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.section-m1{
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: o.2s;
}

button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;

  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: o.2s;
}
#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("images/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4{
  font-family: 'Kalam', cursive;

  color: #fff;
  font-size: 40px;
}
#banner h2{
  font-family: 'Kalam', cursive;

  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#banner button:hover{
  background: #088178;
  color: #fff;
}

#banner h2 span{
  font-family: 'Kalam', cursive;

  color: #FFD700;
  font-size: 30px;
  padding: 10px 0;
}

#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-image: url("images/banner/b17.jpg");
  min-width: 748px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box2{
  background-image: url("images/banner/b10.jpg");

}
#sm-banner h4{
  font-family: 'Kalam', cursive;

  color: #fff;
  font-size: 40px;
   font-weight: 800;

}

#sm-banner span{
  font-family: 'Kalam', cursive;

  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 15px ;
}
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box:hover button{
background: #088178;
border: 1px solid #088178;
}
#banner3 .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-image: url("images/banner/b7.jpg");
  min-width: 32%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  ;

margin-top: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box2{

  background-image: url("images/banner/b4.jpg");

}

#banner3 .banner-box3{

  background-image: url("images/banner/b18.jpg");

}

#banner3 h2{
  font-family: 'Kalam', cursive;

  color: #fff;
  font-weight: 900;
  font-size: 30px;
}
#banner3 h3{
  font-family: 'Kalam', cursive;

  color: #041e42;
  font-weight: 800;
  font-size: 20px;

}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;

}

#newsletter{
  display: flex;
  justify-content: center;

  align-items: center;
  background-image: url("images/banner/b14.png");
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4{
  font-family: 'Kalam', cursive;

  font-size: 22px;
  font-weight: 700;
  color: #fff;

}

#newsletter p{
  font-family: 'Kalam', cursive;

  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span{
  font-family: 'Kalam', cursive;


  color: #FFD700;
}
#newsletter input{

  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter .form{
  display: flex;
  width: 100%;

}

#newsletter button{
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: right;
  margin-left: 10px;
}
footer .copyright{
  font-family: 'Kalam', cursive;

  width: 100%;
  text-align: center;
  color: white;
}
footer{
  display: flex;
  flex-wrap: wrap;
  min-height: 0px;

justify-content: space-between;
align-items: flex-start;
}
footer h4{
  font-family: 'Kalam', cursive;

  font-size: 14px;
  padding-bottom: 20px;
}

footer p{
  font-family: 'Kalam', cursive;

  font-size: 14px;
  margin: 0 0 8px 0;
}
footer a{
  font-family: 'Kalam', cursive;

  font-size: 13px;
  text-decoration: none;
  margin: 0 0 8px 0;
}

footer .follow i{
  font-family: 'Kalam', cursive;

  color: #FFD700;

  padding-right: 15px;
  padding-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
footer .install .row img{
  font-family: 'Kalam', cursive;

  border: 4px solid #088178;
}

footer.follow i:hover,
footer a:hover{
color: #FFD700;
}

/* About Page*/
#page-header .about-header {
  background-image: url("images/about/banner.png");
}
#about-head {
  display: flex;
  align-items: center;
  color: #fff;
}
#about-head img {
  width: 50%;
height: auto;
}


#about-header p {
  color: #fff;
}

#about-head div {
  padding-left: 40px;
}

#about-app {
  text-align: center;
}
#about-app .video {
  width:70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
:host {
 
  color: black;
}



#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

footer.section-p1 h4,
footer.section-p1 p {
  color: #fff;
}

footer.section-p1 .fab {
  color: #fff;
}

footer.section-p1 a {
  color: #fff;
  text-decoration: none;
}

footer.section-p1 a:hover {
  text-decoration: underline;
  color: #FFD700;
}
#about-app h1 a {
  color: #fff;
}
#about-app h1 {
  color: #fff;
}

#about-app h1 a:hover {
  color:#FFD700;
}
/* contact page - form*/
#form-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}


#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #form-details form span {
    font-size: 12px;
    color: #fff;
  }

  #form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
    color: #fff;
  }
#contact-details .details {
  width: 40%;
  color: #fff;
}
#contact-details .details span{
  font-size: 12px;
  color: #fff;
}
#contact-details .details h2{
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
  color: #fff;
}

#contact-details .details li{
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px ;
  padding-right: 22px;
}

#contact-details .details li p{
  margin: 0;
  font-size: 14px;
}

#form-details form input,
#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #fff;
}
#form-details form button{
  background-color: #088178;
  color: #fff;
}

/* cart page */
#cart{
  overflow-x: auto;
}
#cart .far.fa-times-circle {
  color: red;
}

#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img{
  width: 70px;
}
#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3){
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead {
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px ;
}

#cart table tbody td{
  font-size: 13px;
}

body, h1, h2, h3, h4, h5, h6, p, a, li {
  color: white;
}

#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon {
  width: 50% ;
  margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
  padding-bottom: 15px;
}
#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #fff;
}
#coupon button,
#subtotal button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #fff;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid #fff;
  padding: 10px;
  font-size: 13px;
}























@media (max-width:799px){
  .featuref1{
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: black;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active{
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #bar {
    color: white;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i{
    color: #E3E6F3;
    font-size: 24px;
    padding-left: 20px;
    
  }
  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 24px;
  }
  #lg-bag{
    display: none;
  }
  #hero{
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #feature{
    justify-content: center;
  }
  #feature .fe-box{
    margin: 15px 15px;
  }
  

#product1 .pro-container {
    justify-content: center;
   gap: 20px;
  }
  #product1 .pro{
    margin: 15px;
  }
  #product1 .pro img {
    width: 250px;
    border-radius: 20px;
}
#banner {
  height: 20vh;
}
#sm-banner .banner-box{
  min-width: 100%;
  height: 30vh;
}
#banner3 {
  padding: 0 40px;
}
#banner3 .banner-box{
  width: 28%;
}
#newsletter .form{
  width: 70%;
}
}


/* shop page*/
#page-header{
  background-image: url("images/about/banner.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h2,
#page-header p{
  color: #fff;
}

#pagination{
  text-align: center;
  
}
#pagination a{
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

/* single producy*/

#prodetails{
  display: flex;
  margin-top: 20px;

}
#prodetails .single-pro-image{
  width: 33%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;


}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}



#prodetails .single-pro-details {
  width: 50%;
padding-top: 30px;
color: #fff;
}

#prodetails .single-pro-details h4{
  padding: 40px 0 20px 0;

}

#prodetails .single-pro-details h2{
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;

}
#prodetails .single-pro-details input:focus{
  outline: none;
  
}
#prodetails .single-pro-details button {
  background: #088178;
  color: #fff;
}

#prodetails .single-pro-details span{
  line-height: 25px;
}

@media(max-width: 477px){
  .logo {
    width: 100px;
    position: absolute;
    top: 10px;
    left: 20px;
}
#prodetails {
  
  margin-top: 0px;
}
#prodetails .single-pro-details h4 {
  padding: 0px;
}
  .featuref1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  .content p {
    font-size: 15px;
}
.content h1 {
  font-size: 30px;}
  #hero{
    padding: 0 20px;
    background-position: 55%;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro{
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box{
    height: 40vh;
    }
  #sm-banner .banner-box2{
    margin-top: 20px;
  }
  #banner3{
    padding: 0 20px;
  }
  #banner3 .banner-box{
    width: 100%;
  }
  #newsletter{
    padding: 40px 20px;
  }
  #newsletter .form{
    width: 100%;
  }
  
  /*Single Product*/
  #prodetails {
    display: flex;
    flex-direction: column;

  }
  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }

  /* About-head*/
  #about-head {
    flex-direction: column;
  }

  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }

  #about-head div {
    padding-left: 0px;
  }

#about-head video {
  width: 100%;
}

/* contact page*/
#contact-details {
  flex-direction: column;
}
#contact-details .details{
  width: 100%;
  margin-bottom: 30px;
}
#form-details {
  margin: 10px;
  padding: 30px 10px;
  flex-wrap: wrap;
}
#form-details .form{
 width: 100%;
 margin: 30px 10px; 
}
/* cart page*/
#cart-add {
  flex-direction: column;
}

#coupon {
  width: 100%;
}

#subtotal {
  width: 100%;
  padding: 20px;
}
}
